.main-container
{
    text-align:justify;
    background-color: white;
    display: flex;
}
.box
{
    width: 200px;
    height: 150px;
    font-size: 8em;
    border-radius: 17px;
}
#box1{
    background-color: rgb(247, 109, 196);
    transition: width 2s;
}
#box2{
    background-color: orange;
    transition: width 2s;
}
#box3{
    background-color: aqua;
    transition: width 2s;
}
#box4{
    background-color: indigo;
    transition: width 2s;
}
#box4:hover
{
    background-color: springgreen;
    width: 500px;
    height: 150px;
}
#box3:hover
{
    background-color: darkcyan;
    width: 500px;
    height: 150px;
}
#box2:hover
{
    background-color: blue;
    width: 500px;
    height: 150px;
}
#box1:hover
{
    background-color:darkmagenta;
    width: 500px;
    height: 150px;
}
.newrotate{
    width: 200px;
    height: 100px;
    border-radius: 16px;
    background-color: darkturquoise;
    transition: width 2s,height 2s,transform 2s;
}
#newrotate:hover{
    width: 100px;
    height: 100px;
    background-color: mediumvioletred;
    transform: rotate(2000deg);
}



